<section class="selecionar-idiomas">
  <nav>
    <ul>
      <li>
        <p>&lt;</p>
      </li>
      <li>
        <img src="https://i.ibb.co/G4PqdtWy/image.png">
        <p>Inglês</p>
      </li>
      <li>
        <img src="https://i.ibb.co/zV8nmfCB/image.png" alt="">
        <p>Espanhol</p>
      </li>
      <li>
        <img src="https://i.ibb.co/358H9NDz/image.png" alt="">
        <p>Francês</p>
      </li>
      <li>
        <img src="https://i.ibb.co/bDsfFsV/image.png">
        <p>Alemão</p>
      </li>
      <li>
        <img src="https://i.ibb.co/mCnT5KPf/image.png">
        <p>Italiano</p>
      </li>
      <li>
        <p>&gt;</p>
      </li>
    </ul>
  </nav>
</section>
