<section class="register">
  <h1>Eu quero aprender</h1>
  <ul>
    <li>
      <button (click)="setLanguage('inglês')">
        <img src="https://i.ibb.co/G4PqdtWy/image.png">
        <h2>Inglês</h2>
      </button>
    </li>

    <li>
      <button (click)="setLanguage('espanhol')">
        <img src="https://i.ibb.co/zV8nmfCB/image.png" alt="">
        <h2>Espanhol</h2>
      </button>
    </li>

    <li>
      <button (click)="setLanguage('francês')">
        <img src="https://i.ibb.co/358H9NDz/image.png" alt="">
        <h2>Francês</h2>
      </button>
    </li>

    <li>
      <button (click)="setLanguage('alemão')">
        <img src="https://i.ibb.co/bDsfFsV/image.png">
        <h2>Alemão</h2>
      </button>
    </li>

    <li>
      <button (click)="setLanguage('italiano')">
        <img src="https://i.ibb.co/mCnT5KPf/image.png">
        <h2>Italiano</h2>
      </button>
    </li>

    <li>
      <button (click)="setLanguage('chinês')">
        <img src="https://i.ibb.co/dz0G8Hd/image.png">
        <h2>Chinês</h2>
      </button>
    </li>
  </ul>
</section>