footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.2rem;
  padding: 3rem;
  background-color: rgb(88, 204, 2);
  text-align: center;
  border-top: 0.28rem solid rgba(0, 0, 0, 0.1);
}

hr {
  width: 100%;
}

p {
  font-size: 1.8rem;
  font-family: "boodle-light", "Segoe UI", sans-serif;
  color: rgb(255, 255, 255);
}

p b {
  color: rgb(252, 252, 252);
}